source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Core ~> 4.1 redirects: force

nuget FAKE
nuget FSharp.Formatting ~> 3.0.0-beta08

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget MathNet.Numerics.FSharp redirects: force
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
