source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 4.6
nuget FSharp.Formatting ~> 3.1.0
nuget MathNet.Numerics.FSharp redirects: force
nuget NUnit.ConsoleRunner ~> 3.10.0
github fsharp/FAKE modules/Octokit/Octokit.fsx

# docs:

group docs
    source https://api.nuget.org/v3/index.json
    nuget NuGet.CommandLine
    nuget FSharp.Compiler.Tools 10.2.3
    nuget FAKE ~> 5

group buildfsx
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli 
    nuget Fake.Tools.Git
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.UserInput
    nuget Fake.Core.Target
    nuget Fake.DotNet.MSBuild
    nuget Fake.IO.FileSystem
    nuget Fake.DotNet.Fsc
    nuget Fake.Api.GitHub
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.Testing.NUnit
    nuget Fake.BuildServer.AppVeyor
    nuget Octokit
