name: Fable

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  testfable4:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Restore
      run: git submodule update --init --recursive
    - name: Remove global json
      run: rm global.json
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          8.0.x
          7.0.x
          6.0.x
    - name: Restore tools
      run: dotnet tool restore
    - name: Install jq
      uses: dcarbone/install-jq-action@v1.0.1
    - name: Install fable
      run: |
        version=`cat ./.config/dotnet-tools.json | jq --raw-output '.tools.fable.version'`
        dotnet tool install --global Fable --version $version
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '18.x'
    - name: Install npm dependencies
      working-directory: tests/FSharpPlusFable.Tests
      run: npm install
    - name: Run Fable tests
      working-directory: tests/FSharpPlusFable.Tests
      run: fable . --outDir bin --runScript ./bin --test:MSBuildCracker

