name: Fable

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  testfable4:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Restore
      run: git submodule update --init --recursive
    - name: Remove global json
      run: rm global.json
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          8.0.x
          7.0.x
          6.0.x
    - name: Restore tools
      run: dotnet tool restore
    - name: Setup Node.js environment
      uses: actions/setup-node@v5
    - name: Install npm dependencies
      working-directory: tests/FSharpPlusFable.Tests
      run: npm install
    - name: Run Fable tests
      working-directory: tests/FSharpPlusFable.Tests
      run: dotnet fable . --outDir bin --runScript ./bin /d

